body{
    margin: 0;
    padding: 0;
    background: black;
}
.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center h1{
    font-size: 4rem;
    margin: 0;
    background: linear-gradient(90deg, #69a1d1, #ca3f85, #69a1d1);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
    animation: AnimarBorda 3s linear infinite;
}

@keyframes AnimarBorda {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}