body {
    background-color: bisque;
}
.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
h1 {
    font-family: monospace; 
    border-right: 4px solid;
    width: 12ch;
    white-space: nowrap;
    overflow: hidden; 
    animation: typing 2s steps(10), blinking 0.5s infinite step-end alternate;
}

/* animação escrevendo*/
@keyframes typing { 
    from {
      width: 0;  
    }
}

/* animação psicando */
@keyframes blinking { 
    50% {
        border-color: transparent;
    }
}